In [46]:
import numpy as np
import pandas as pd

>Importing the dataset

In [47]:
dataset = pd.read_csv("ChurnModeling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### >Probing for null values in the dataset

In [48]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## >> Data preprocessing

>Exited column is dependent and rest of the features are independent. 

>CustomerId and Surname have unique entries. So, we can ommit those columns.

In [49]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

>Geography and Gender are categorical features. Geography of a customer can be France, Spain or Germany and Gender, Male or Female.

>Converting them into dummy variables.

In [50]:
place = pd.get_dummies(dataset['Geography'],drop_first=True)
gender = pd.get_dummies(dataset['Gender'],drop_first=True)

In [51]:
place.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [52]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

>Removing the Geography and Gender columns from input features and adding dummy variable columns

In [53]:
X = X.drop(['Geography','Gender'],axis=1)
X = pd.concat([X,place,gender],axis=1)

### >Training data set

In [54]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

### >Train-Test data split

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 5678)

### >Feature scaling

In [56]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [57]:
df = pd.DataFrame(data=X_train[0:,0:], index=[i for i in range(X_train.shape[0])], columns=[i for i in range(X_train.shape[1])])
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0.576003,-0.655332,-0.008277,0.194958,0.799419,0.648036,0.968496,0.070511,1.732051,-0.571192,0.919017
1,0.128809,0.684717,0.336618,0.308682,-0.913316,0.648036,0.968496,-1.373340,1.732051,-0.571192,-1.088119
2,-0.963176,0.014693,1.716201,1.099636,-0.913316,0.648036,-1.032529,-1.341394,1.732051,-0.571192,0.919017
3,-1.379171,1.067589,-0.353173,-1.221970,-0.913316,-1.543125,-1.032529,0.121401,-0.577350,1.750726,0.919017
4,0.586402,0.397564,1.716201,-1.221970,0.799419,0.648036,-1.032529,0.316870,-0.577350,1.750726,0.919017

## >>Artificial Neural Network model

In [58]:
import keras
from keras.layers import Dense
from keras.models import Sequential

### Initializing ANN

In [59]:
classifier = Sequential()

In [62]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 10)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

Epoch 1/10
800/800 [==============================] - 3s 2ms/step - loss: 0.5997 - accuracy: 0.7907
Epoch 2/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4897 - accuracy: 0.7944
Epoch 3/10
800/800 [==============================] - 2s 3ms/step - loss: 0.4523 - accuracy: 0.7950
Epoch 4/10
800/800 [==============================] - 3s 3ms/step - loss: 0.4226 - accuracy: 0.8042
Epoch 5/10
800/800 [==============================] - 2s 3ms/step - loss: 0.4252 - accuracy: 0.7928
Epoch 6/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8048
Epoch 7/10
800/800 [==============================] - 3s 3ms/step - loss: 0.3920 - accuracy: 0.8349
Epoch 8/10
800/800 [==============================] - 3s 3ms/step - loss: 0.3680 - accuracy: 0.8436
Epoch 9/10
800/800 [==============================] - 3s 3ms/step - loss: 0.3604 - accuracy: 0.8529
Epoch 10/10
800/800 [==============================] - 2s 3ms/step - loss: 0.3631 - accuracy: 0.8542

In [69]:
accuracy

0.842